@import url('http://127.0.0.1:5501/contacto.css');

:root{
    --color-primario:#ffff;
    --color-secundario:#d15959;
    --color-terciario:#f5edd6;
    --color-cuarto:#0000;
    --color-quinto:#dbffac;
    --color-sexto:#dbe3e0;
    --color-septimo:#c0beb3;

    --fuente-calibri:'calibri', sans serif;
    --fuente-calibri-negrita:'calibri', bold;
    --fuente-Sicret-Mono-PERSONAL:'Sicret Mono PERSONAL', bold;
}

*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

header{
    box-sizing: content-box;
    position: initial;
    display: flex;
    background-color: var(--color-terciario);
    justify-content: space-around;
    align-items: center;
    padding: 1% 0% 1% 1%;
}

body {
    background-color: var(--color-primario);
    height: auto;
    font-family: var(--fuente-calibri);
}

.logo{
    display: flex;
    align-items: center;
}

.logo_Obersvatorio_img{
    display: flex;
    width: 37%;
    height: 37%;
    margin-right: 10%;
    flex-direction:column;
    justify-content:center;
    position: initial;
}

.menu{
    display: flex;
    width: 100%;
    justify-content:center;
}

.menu_contenido{
    display: flex;
    height: 30%;
    width: auto;
    color: var(--color-primario);
    align-items:center;
    display: flex;
    justify-content:space-between;
    flex-direction: column-reverse;
    margin: 1rem 1rem 0rem 1rem;
    position: relative;
}

.header__menú__link{
    display: flex;
    width: auto;
    justify-content:center;
}

.btn {
    background-color: var(--color-primario);
    position: relative;
    width: 160%;
    font-family: var(--fuente-calibri-negrita);
    color: var(--color-secundario);
    border: none;
    border-radius: 5px;
    font-size: 75%;
    padding: 10px;
    margin: 2px 2px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    flex-flow: column-reverse;
  }

.btn:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    display: flex;
}

nav a{
    font-weight: 600;
    padding-right: 20px;
    display: flex;
}

nav a:hover{
    color: none;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.resolucion{
    width: 100%;
}

/**Movil**/

@media (max-width: 767px){
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .movil {}

    nav ul a{
        font-size: 16px;
    }
}

/**Tablet**/

@media (min-width: 768px) and (max-width: 990px){
    .desktop {display: none;}
    .tablet {}
    .movil {display: none;}
}

/**Escritorio**/

@media (min-width: 990px){
    .desktop {}
    .tablet {display: none;}
    .movil {display: none;}
    
    .ul_menu{
        display: flex;
        width: 100%;
        height: 100%;
        top: 80px;
        left: -100%;
        text-align: center;
    }
    nav .ul_menu{
        margin: 10px 0;
        line-height: 30px;
    }
    nav .ul_menu a{
        font-size: 20px;
    }

    .btn:hover {
        background-color: var(--color-secundario);
        font-family: var(--fuente-calibri-negrita) var(--color-secundario) ;
    }

}

.Título_contenido{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: var(--fuente-calibri-negrita);
    font-size: none;
    color: var(--color-secundario);
    font-size: 200%;
}

.Título-destaque{
    color: var(--color-secundario);
    align-items: center;
}

.título{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentación{
    padding: 10% 10%;
    display: flex;
    align-items:center;
}


.presentación_contenido_título{
    font-size: 40px;
    font-family: var(--fuente-Sicret-Mono-PERSONAL);
    color: var(--color-secundario);
}

.presentación_contenido_texto{
    font-size: 20px;
    font-family: var(--fuente-calibri-negrita);
    color: var(--color-cuarto);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenido {
    display: flex;
    justify-content: center;
}

.imagen {
    width: 50%;
    height: 460px;
    margin-right: 20px;
    border-radius: 6px;
}

.h2{
    margin-bottom: 15px;
    font-size: 40px;
}

.Título_contenido{
    margin-bottom: 15px;
    font-size: 140%;
    align-items: center;
    flex-direction: column-reverse;
    display: flex;
}

.p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.a{
    font-size: 60%;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: var(--color-cuarto);
    font-weight: 700;
}

.info-contacto-contenido{
    color: var(--color-terciario);
    font-size: 80%;
}

.Contenido_central {
    display: flex;
    flex-direction:column-reverse;
    align-content: center;
    position:relative;
    font-family: var(--fuente-calibri);
    margin: 0px 20px;
    overflow: hidden;
    justify-items: flex-start;
    }

.info-contacto{
    color: var(--color-terciario);
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    margin: 0% 0% 0% 0%;
    justify-items: flex-start;
}

.contenido-contacto .campo, textarea{
    width: 100%;
    padding: 14px 10px;
    font-size: 80%;
    border: 2px solid var(--color-septimo);
    margin-bottom: 20px;
    border-radius: 8px;
    outline: 0px;
    align-items: center;
}

.contenido-contacto form textarea{
    min-height: 130px;
    max-height: 400px;
}

.contenido-contacto{
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 10px 0px 20px 0px;
    justify-content: center;
    flex-wrap: wrap-reverse;
    grid-template-columns: repeat(2,1fr);
    margin-top: 35px;
}


.btn_enviar {
    padding: 2%;
    font-size: 80%;
    border: none;
    outline: 0px;
    background: var(--color-secundario);
    color: var(--color-terciario);
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn_enviar:hover{
    background: var(--color-terciario);
    color: var(--color-secundario);
}

.contenido_footer{
    display: flex;
    width: auto;
    justify-content: center;
    flex-direction: column-reverse;
    position: flex;
    display: flex;
}

.presentación_enlaces{
    display: flex;
    justify-content: center;
}

.footer_text_contenido{
    display: flex;
    color: var(--color-terciario);
    align-items:baseline;
    position: initial;
    gap: 20px;
}

.presentación__logo__pastel{
    display: flex;
    flex-direction: column-reverse;
    width: 25%;
    height:10%;
    flex-wrap: wrap-reverse;
}

.presentación__enlaces__iconos{
    justify-content: center;
    display: flex;
    width: 20%;
    height: 20%;
    flex-wrap: wrap-reverse;
}

.derechos_de_autor_text .p_footer{
    position: initial;
    font-size: 38%;
    color: var(--color-terciario);
    font-family: var(--fuente-calibri);
    display: flex;
}

.footer{
    background-color: var(--color-secundario);
    padding: 12px;
    height: auto;
    display: flex;
}